
body {
width: 100%;
height: 100%;
margin: 0;
padding: 0;
background:linear-gradient(#063250,#08436A,#0B598D,#1593E6,rgb(190, 190, 231));
color: white;
overflow: hidden;
overflow-y: scroll;
}

.desktop-menu {
  display: flex;
  margin: 1rem;
  cursor: pointer;
  justify-items: center;
  justify-content: space-between;
  margin-left: 30rem;
  align-items: center;
  list-style: none;
  gap: 47px;
}

.desktop-menu a{
  font-size: 25px;
  color: aliceblue;
  text-decoration: none;
}

.items {
  width: 200%;
  justify-content: space-between;
  margin-left: 2rem;
  font-weight: bold;
  border-bottom: none;

}

.items:hover {
  padding-bottom: 0.5rem;
  color: yellow;
}

.Navbar {
  height: 5rem;
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  top: 0;
  margin-left: 3rem;
}

#intro {
  height: 50%;
  width: 100vw;
  overflow: hidden;
  display: flex;
  /* justify-content: space-between; */
  margin-left: 3rem;
}
.introContent {
  margin-top: 7rem;
  height: 100vh;
  width: 100vh;
  padding: 1rem;
  font-size: 2rem;
  font-weight: 700;
  flex-direction: column;
  justify-content: center;
}
.hello {
  font-size: 1.75rem;
  font-weight: 100;
}
.introName {
  color: white;
  
}



.introParagh {
  font-size: small;
  font-weight: 300;
  letter-spacing: 1px;
}

.skillTitle {
  font-weight: bold;
  margin-left: 30rem;
  color: rgb(58, 161, 245);
  font-size: 3rem;
  margin-bottom: 1.5rem;
  cursor: pointer;
}



.item {
  color: black;
  margin-left: 10rem;
  width: 70%;
}





.shalu {
  height: 400px;
  width: 500px;
  margin-top: 3rem;
  border-radius: 1200%;
  position: absolute;
  z-index: -1;
  right: 0;
  object-fit:scale-down;
  transition: all ease 0.3s;
  filter: drop-shadow(5px 5px 5px yellow);
/* z-index: 1; */
animation-name: floating;
animation-duration: 5s;
animation-iteration-count:infinite ;
animation-timing-function:ease-in-out ;



}
.introName2{
  color: yellow;
  font-size: 2rem;
  font-weight: 1000;
 
}

@keyframes floating {
  0%{
    transform: translate(0,0px);
  }
  50%{
    transform: translate(0,30px);
  }
  100%{
    transform: translate(0,-1px);
  }
}




.skillImg {
  height: 60px;
  width: 72px;
  margin: auto;
  margin-left: 10rem;
  margin-top: 2rem;
  border-radius: 20px;
  /* transition: all ease 0.3s; */

}
.skillImg:hover {
   box-shadow: skyblue; 
  height: 75px;
  width: 80px;
  transition: 1s;

}




.projectImg{
  height: 20px;
  width: 30px;
  border-radius: 20px;
}
.Accordion{

  margin-top:100px ;
}




@media screen  and (max-width:600px){
  .Navbar{
    flex-direction: column;
    align-items:flex-start ;
    height: 5rem;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    top: 0;
    /* margin-left: 3rem; */
  }
  menu{
    position: absolute;
    right: 0;
    margin:10% ;
    flex-direction: column;
    align-items: flex-end;
    gap: 11px;
    z-index: 3;
  }

  .desktop-menu {
    display: flex;
    margin: 1rem;
    cursor: pointer;
    justify-items: center;
    justify-content: space-between;
    /* margin-left: 0.5rem; */
    align-items: center;
    list-style: none;
    gap: 47px;
  
  }
  
  .desktop-menu a{
    font-size: 25px;
  
    text-decoration: none;
  }
  .introContent {
    margin-top: 20rem;
    height: 100vh;
    width: 100vh;
    padding: 1rem;
    font-size: 2rem;
    font-weight: 700;
    flex-direction: column;
    justify-content: center;
  }
 
  .contactBtn{
    height: 50px;
    width: 100px;
    margin-top: 60rem;
    text-decoration: none;
    background-color: yellow;
    color: black;
    border-radius: 100px;
    font-size: 30px;
    font-weight: 600px;
    padding: 17px 30px;
    box-shadow: 0 ,0, 4px 0 red;
  }


  }

.contactBtn{
  height: 50px;
  width: 100px;
  margin-top: 50rem;
  text-decoration: none;
  background-color: yellow;
  color: black;
  border-radius: 100px;
  font-size: 30px;
  font-weight: 600px;
  padding: 17px 26px;
  box-shadow: 0 ,0, 4px 0 red;
}

